url: https://kivancnadir.com
baseurl: ""
asset_version: "20260228a"

# Site settings
title: Kivanc Nadir - Sound Designer & Composer
email: kivancnadir@gmail.com
description: "Sound Designer & Composer for video games. Based in Toronto, Canada."


# Team names, titles and social links
people:
- name: Kivanc Nadir
  pic: kivanc
  position: Sound Designer
  social:
    - title: twitter
      url: #
    - title: facebook
      url: #
    - title: stack-overflow
      url: #

- name: Larry Parker
  pic: 2
  position: Lead Marketer
  social:
    - title: twitter
      url: #
    - title: facebook
      url: #
    - title: linkedin
      url: #

- name: Diana Petersen
  pic: 3
  position: Lead Developer
  social:
    - title: twitter
      url: #
    - title: facebook
      url: #
    - title: google-plus
      url: #

# Social networks usernames (many more available: google-plus, flickr, dribbble, pinterest, instagram, tumblr, linkedin, etc.)
social:
  - title: linkedin
    url: https://linkedin.com/in/nadirkivi

# Postal address (add as many lines as necessary)
address:
  - line: 3481 Melrose Place
  - line: Beverly Hills, CA 90210

# Build settings
markdown: kramdown
permalink: pretty
destination: ../_site/agency-jekyll-theme-gh-pages




