<!-- Navigation -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" title="Kivanc Nadir">Kivanc Nadir</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#home">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Showreel</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<header id="home" class="home-about-section">
    <div class="container">
        <div class="row home-about-header">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading home-about-title">About</h2>
            </div>
        </div>
        <div class="row home-about-row">
            <div class="col-md-4 text-center">
                <img src="img/team/kivanc.jpg" class="img-responsive img-circle home-about-photo" alt="" onerror="if(!this.dataset.try1){this.dataset.try1=1;this.src='{{ site.baseurl }}/img/team/kivanc.jpg';return;}if(!this.dataset.try2){this.dataset.try2=1;this.src='/img/team/kivanc.jpg';return;}this.onerror=null;this.alt='';">
            </div>
            <div class="col-md-8 home-about-copy">
                <p class="home-about-description">Hi, I&rsquo;m K&#305;van&ccedil; - a Toronto-based sound designer. Over the years, my path in audio has taken me through a range of roles and disciplines. With degrees in Jazz and Sonic Arts, my background spans from arranging jazz to designing interactive music systems for games.</p>
                <p class="home-about-description">I create stylistically accurate and technically well-structured audio tailored to each game&rsquo;s needs. I&rsquo;ve worked as the full-time audio department for two game studios and continue to collaborate on projects as a freelance sound designer. The games I&rsquo;ve worked on have explored themes ranging from sci-fi and medieval worlds to farming, house decoration, and even vampires.</p>
                <p class="home-about-description">If you&rsquo;d like to learn more about my experience or get in touch, feel free to reach out.</p>
            </div>
        </div>
    </div>
</header>

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->



