<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% assign page_title = page.title | default: site.title %}
    {% assign full_title = page_title %}
    {% if page.title %}
      {% assign full_title = page_title | append: ' | ' | append: site.title %}
    {% endif %}
    {% assign page_description = page.description | default: site.description | strip_html | strip_newlines | truncate: 160 %}
    {% assign canonical_url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% assign social_image_url = '/img/team/kivanc.jpg' %}
    {% if page.img %}
      {% assign social_image_file = page.img | uri_escape %}
      {% assign social_image_url = '/img/portfolio/' | append: social_image_file %}
    {% endif %}
    {% assign social_image_url = social_image_url | prepend: site.baseurl | prepend: site.url %}

    <title>{{ full_title | escape }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ page_description | escape }}">
    <meta name="robots" content="index,follow,max-image-preview:large">
    <meta name="author" content="Kivanc Nadir">

    <meta property="og:locale" content="en_CA">
    <meta property="og:type" content="{% if page.modal-id %}article{% else %}website{% endif %}">
    <meta property="og:title" content="{{ full_title | escape }}">
    <meta property="og:description" content="{{ page_description | escape }}">
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:site_name" content="{{ site.title | escape }}">
    <meta property="og:image" content="{{ social_image_url }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ full_title | escape }}">
    <meta name="twitter:description" content="{{ page_description | escape }}">
    <meta name="twitter:image" content="{{ social_image_url }}">
    <script>(function(){var t=localStorage.getItem('theme');if(t)document.documentElement.setAttribute('data-theme',t);})();</script>
    <script>
        (function () {
            var root = document.documentElement;
            root.classList.add('reveal-preload');
            window.setTimeout(function () {
                root.classList.remove('reveal-preload');
            }, 3000);
        })();
    </script>
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "{% if page.modal-id %}CreativeWork{% else %}Person{% endif %}",
      "name": "{{ full_title | escape }}",
      "url": "{{ canonical_url }}",
      {% if page.modal-id %}
      "description": "{{ page_description | escape }}",
      "image": "{{ social_image_url }}",
      "author": {
        "@type": "Person",
        "name": "Kivanc Nadir",
        "url": "{{ site.url }}"
      }
      {% else %}
      "description": "{{ site.description | escape }}",
      "jobTitle": "Sound Designer & Composer",
      "sameAs": [
        "https://linkedin.com/in/nadirkivi"
      ]
      {% endif %}
    }
    </script>


    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}{% if site.asset_version %}?v={{ site.asset_version }}{% endif %}" onerror="this.onerror=null;this.href='style.css';">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}{% if site.asset_version %}?v={{ site.asset_version }}{% endif %}" onerror="this.onerror=null;this.href='css/font-awesome/css/font-awesome.min.css';">
    <script>
        (function () {
            if (window.location.protocol !== 'file:') return;
            var mainCss = document.querySelector('link[href$="/style.css"]');
            if (mainCss) mainCss.href = 'style.css';
            var faCss = document.querySelector('link[href*="font-awesome.min.css"]');
            if (faCss) faCss.href = 'css/font-awesome/css/font-awesome.min.css';
        })();
    </script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
