 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    {% assign modal_img_file = post.img | uri_escape %}
    {% assign modal_img_asset = '/img/portfolio/' | append: modal_img_file %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 contenteditable="true" data-edit-field="title">{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="{{ modal_img_asset | relative_url }}" class="img-responsive img-centered" alt="{{ post.alt }}" onerror="if(!this.dataset.try1){this.dataset.try1=1;this.src='img/portfolio/{{ modal_img_file }}';return;}if(!this.dataset.try2){this.dataset.try2=1;this.src='/img/portfolio/{{ modal_img_file }}';return;}this.onerror=null;">
                            <p contenteditable="true" data-edit-field="description">{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Developer:
                                    <strong><a href="http://startbootstrap.com" contenteditable="true" data-edit-field="client">{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com" contenteditable="true" data-edit-field="service">{{ post.category }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com" contenteditable="true" data-edit-field="date">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                            </ul>
                            <div class="modal-action-row">
                                <button type="button" class="btn btn-primary modal-save-btn">Save</button>
                                <button type="button" class="btn modal-close-btn" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
