<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        {% assign featured = site.people | first %}
        <div class="container">
            <div class="row team-feature-row">
                <div class="col-md-4 text-center">
                    <img src="img/team/{{ featured.pic }}.jpg" class="img-responsive img-circle team-feature-photo" alt="{{ featured.name }}">
                    <ul class="list-inline social-buttons">
                        {% for network in featured.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-8 team-feature-copy">
                    <h2 class="section-heading">About</h2>
                    <h4>{{ featured.name }}</h4>
                    <p class="team-feature-role">{{ featured.position }}</p>
                    <p class="team-feature-description text-muted">Focused on cinematic game audio, implementation, and polished interactive sound experiences.</p>
                </div>
            </div>
        </div>
    </section>
